@import "_partial/nav.styl"
@import "_partial/post.styl"
@import "index.styl"

:root{
  --primary: #816458;
  --mild: #B0946E;

  --text_deep: #544945;

  --hl_yellow: #FAE248;
  --hl_blue: #6A8D9B;

  --bg_white: #FFF4EF;
  --bg_black: #28232A;

  --title_blue: #E5EFF3;
  --tltle_pink: #F9DFF8;

  --card_white: #FFFDFC;
  --card_black: #362E38;

  --white: #FFFFFF;



  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --xl: 32px;
}
