@import "_partial/nav.styl"
@import "_partial/header.styl"
@import "_partial/footer.styl"
@import "_widget/tweet.styl"
@import "_widget/postlist.styl"
@import "index.styl"
@import "_widget/up.styl"
@import "post.styl"
@import "page.styl"
@import "_widget/toc.styl"

:root{
  --base: #6C9AE4;
  --secondary: #C7D0F5;
  --text: #14171F;
  --highlight: #FCF5B0;
  --windy: #F0FAFF;
  --bg: #CDD8E8;
  --white: #FFFFFF;
  --text2: #2F5284;
  --text3: #375DB3;
  --pagetitle: #223D78;
  --codeblock: hsla(199, 69%, 87%, 0.3);
 
  --title: 32px;
  --h1: 36px;
  --h2: 24px;
  --h3: 16px;
  --tx: 16px;
}

// Regular / Normal = 400
// Medium = 500
// Bold = 700

// Fonts
@font-face
  font-family: 'Cormorant Garamond'
  src: url('fonts/CormorantGaramond-BoldItalic.ttf') format('truetype')
  font-weight:  700
  font-style: italic
  font-display: block

@font-face
  font-family: 'Abril Fatface'
  src: url('fonts/AbrilFatface-Regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal
  font-display: block

@font-face
  font-family: 'Noto Serif SC'
  src: url('fonts/NotoSerifSC-Bold.ttf') format('truetype')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Noto Serif SC'
  src: url('fonts/NotoSerifSC-Regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal
  

@font-face
  font-family: 'Noto Serif SC'
  src: url('fonts/NotoSerifSC-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal

  @font-face
  font-family: 'Noto Serif SC'
  src: url('fonts/NotoSerifSC-SemiBold.ttf') format('truetype')
  font-weight: 600
  font-style: normal
  font-display: block

@font-face
  font-family: 'Noto Sans SC'
  src: url('fonts/NotoSansSC-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Noto Sans SC'
  src: url('fonts/NotoSansSC-Bold.ttf') format('truetype')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Noto Sans SC'
  src: url('fonts/NotoSansSC-Regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Abhaya Libre'
  src: url('fonts/AbhayaLibre-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal
  font-display: block

@font-face
  font-family: 'Abhaya Libre'
  src: url('fonts/AbhayaLibre-Regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Abhaya Libre'
  src: url('fonts/AbhayaLibre-Bold.ttf') format('truetype')
  font-weight: 700
  font-style: normal

// @font-face
//   font-family: 'Noto Sans SC'
//   src: url('fonts/NotoSansSC-Light.ttf') format('truetype')
//   font-weight: 300
//   font-style: normal

// @font-face
//   font-family: 'Noto Sans SC'
//   src: url('fonts/NotoSansSC-SemiBold.ttf') format('truetype')
//   font-weight: 600
//   font-style: normal

// @font-face
//   font-family: 'Noto Sans SC'
//   src: url('fonts/NotoSansSC-ExtraBold.ttf') format('truetype')
//   font-weight: 800
//   font-style: normal

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

// lazyload
img.lazyload {
    object-fit: contain;
    transition: all 0.5s ease-in-out;
    opacity: 0.4;
    filter: blur(0.5px);
}

img.lazyload.loaded {
    object-fit: cover;
    opacity: 1;
    filter: none;
}

html {
    scroll-padding-top: 80px;
}