#footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Abhaya Libre', serif;
    font-size: 16px;
    font-weight: 400;
    margin: 128px 0;
    padding: 32px 0;
    

    img {
        width: 100px;
        transform: rotate(-18.23deg);
        -webkit-user-drag: none;
        user-drag: none;
    }

    p {
        margin: 8px 0;
        color: var(--text2);
    }
    
    a {
        text-decoration: none;
        color: var(--text2);
        font-family: 'Noto Serif SC', serif;
        font-size: 14px;
        font-weight: 500;
        transition: all 0.2s;

        &:hover {
            color: var(--base);
        }
    }
}

#footer-space {
    height: 64px;
}