<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <body>  
    <%- body %>
    
    <% if (theme.lazyload && theme.lazyload.enable) { %>
        <%- js('js/lazyload.js') %>  <!-- lazyload -->
    <% } %>
    
    </body>
</html>