<aside id="article-toc" role="navigation">
    <div id="toc-wrapper">
        <%- toc(page.content,{
            listNumber: false,
            max_depth: 3,
            min_depth: 1
        }) %>
    </div>
</aside>