@import "_partial/nav.styl"
@import "_partial/post.styl"
@import "index.styl"

:root{
  --base: #6C9AE4;
  --secondary: #C7D0F5;
  --text: #14171F;
  --highlight: #FCF5B0;
  --windy: #F0FAFF;
  --bg: #CDD8E8;
  --white: #FFFFFF;
 
  --title: 32px;
  --h1: 36px;
  --h2: 24px;
  --h3: 16px;
  --tx: 16px;
}

// Fonts
@font-face
  font-family: 'Cormorant Garamond BoldItalic'
  src: url('fonts/CormorantGaramond-BoldItalic.ttf') format('truetype')
  font-weight:  bold
  font-style: italic

@font-face
  font-family: 'AbrilFatface-Regular'
  src: url('fonts/AbrilFatface-Regular.ttf') format('truetype')
  font-weight: regular
  font-style: normal

@font-face
  font-family: 'NotoSerifSC-Bold'
  src: url('fonts/NotoSerifSC-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'NotoSerifSC-Regular'
  src: url('fonts/NotoSerifSC-Regular.ttf') format('truetype')
  font-weight: regular
  font-style: normal

@font-face
  font-family: 'NotoSerifSC-Medium'
  src: url('fonts/NotoSerifSC-Medium.ttf') format('truetype')
  font-weight: medium
  font-style: normal
