#postlist-container {
    width: 982px;    
}

#postlist-header {
    position: relative;
    padding: 0;
    margin: 80px 0 4px 0;

    span {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
    }

    #title {
        margin: 0;
        font-size: 30px;
        font-weight: 500;
        font-family: 'Abhaya Libre' , serif;
        color: var(--base);
        opacity: 0.75;
        }

    #star {
        margin: 0 0 0 30px;
        background-color: var(--secondary);
        width: 40px;
        height: 40px;
        -webkit-mask-image: url('/ico/star.svg');
        mask-image: url('/ico/star.svg');  
        -webkit-mask-repeat: no-repeat;  // 防止重复填充
        mask-repeat: no-repeat;
        -webkit-mask-position: center;  // 居中
        mask-position: center;
        -webkit-mask-size: contain; // 确保完整显示
        mask-size: contain;
        }

    hr {
        width: 96%;
        color: var(--secondary);
        border: 0;
        height: 0;
        border-top: 1.5px dashed var(--secondary);
        position: relative;
        left:50%;
        transform: translateX(-50.8%) translateY(-5px);
        overflow: visible;
        
    }
    hr::after {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: var(--secondary);
        border-radius: 50%;
        right: 0;
        top: -3px;

    }

}

#postlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 0;
    padding: 0 27.5px;
    text-decoration: none;

    hr {
        width: 99%;
        color: var(--secondary);
        border: 0;
        height: 0;
        border-top: 0.75px dashed var(--secondary);
        position: relative;
        left:50%;
        transform: translateX(-50%) translateY(-6px);
        margin: 0;
        overflow: visible;

        // 线条出现动画
        opacity: 0;
        &.animate {
            animation: lineFadeIn 0.6s ease-out forwards;
            animation-delay: 0.3s;
            }
        
    }

    hr::after {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: var(--secondary);
        border-radius: 50%;
        right: 0;
        top: -3px;

    }


    
    .post-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 55.35px;
        justify-content: flex-start;
        text-align: left;
        width: 100%;
        padding: 16px 53px 16px 21.5px ;
        box-sizing: border-box;
        transition: all 0.25s;
        border-radius: 5px;

        &:hover {
            background-color: var(--white);
            box-shadow: 0px 4px 29.8px 3px rgba(205, 216, 232, 0.6);
        }

        // 卡片出现动画
        opacity: 0;
        &.animate {
            animation: cardFadeUp 0.6s ease-out forwards;
            }

         
    }
    .post-banner {
        width: 343px;
        height: 272px;
        border-radius: 5px;
        object-fit: cover;
        margin: 0;
        } 
}

.post-card-link {
    text-decoration: none;
    }

.post-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    align-self: stretch; // 占满高度

    .post-time {
        margin: 25px 0 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
        
        .post-time-icon {
            background-color: var(--text2);
            width: 18.98px;
            height: 18.98px;
            -webkit-mask-image: url('/ico/post-card/clock.svg');
            mask-image: url('/ico/post-card/clock.svg');  
            -webkit-mask-repeat: no-repeat;  // 防止重复填充
            mask-repeat: no-repeat;
            -webkit-mask-position: center;  // 居中
            mask-position: center;
            -webkit-mask-size: contain; // 确保完整显示
            mask-size: contain;
        }
        h5 {
            font-family: 'Noto Serif SC', serif;
            font-size: 14px;
            font-weight: 400;
            color: var(--text2);
            margin: 0;
        }
        
        }

    .post-title {
        font-family: 'Noto Serif SC', serif;
        font-size: 25px;
        font-weight: 600;
        color: var(--text);

        margin: 16px 0 32px 0;
        transition: all 0.2s;

        &:hover {
            color: var(--base);
        }
        }

    .post-view.post-comment-num.post-category {
        display: flex;
        flex-direction: row;
        gap: 16px;
        margin: 0 0 6.5px 0;
        align-items: center;
        
        }

    .post-view {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;

        .post-view-icon {
            background-color: var(--text2);
            width: 14.23px;
            height: 14.23px;
            -webkit-mask-image: url('/ico/post-card/eye.svg');
            mask-image: url('/ico/post-card/eye.svg');  
            -webkit-mask-repeat: no-repeat;  // 防止重复填充
            mask-repeat: no-repeat;
            -webkit-mask-position: center;  // 居中
            mask-position: center;
            -webkit-mask-size: contain; // 确保完整显示
            mask-size: contain;
        }
        h5 {
            margin: 0;
            font-family: 'Noto Serif SC', serif;
            font-size: 10px;
            font-weight: 400;
            color: var(--text2);
        }
        }

    .post-comment-num {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;

        .post-comment-num-icon {
            background-color: var(--text2);
            width: 14.23px;
            height: 14.23px;
            -webkit-mask-image: url('/ico/post-card/comment.svg');
            mask-image: url('/ico/post-card/comment.svg');  
            -webkit-mask-repeat: no-repeat;  // 防止重复填充
            mask-repeat: no-repeat;
            -webkit-mask-position: center;  // 居中
            mask-position: center;
            -webkit-mask-size: contain; // 确保完整显示
            mask-size: contain;
        }
        h5 {
            margin: 0;
            font-family: 'Noto Serif SC', serif;
            font-size: 10px;
            font-weight: 400;
            color: var(--text2);
        }
        }
        
    .post-category {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
        transition: all 0.2s;

        &:hover {
            .post-category-icon {
                background-color: var(--base);
                }
            h5 {
                a {
                color: var(--base);
            }
                }
            }

        .post-category-icon {
            background-color: var(--text2);
            width: 14.23px;
            height: 14.23px;
            -webkit-mask-image: url('/ico/post-card/folder.svg');
            mask-image: url('/ico/post-card/folder.svg');  
            -webkit-mask-repeat: no-repeat;  // 防止重复填充
            mask-repeat: no-repeat;
            -webkit-mask-position: center;  // 居中
            mask-position: center;
            -webkit-mask-size: contain; // 确保完整显示
            mask-size: contain;
        }
        h5 {
            margin: 0;
            font-family: 'Noto Serif SC', serif;
            font-size: 10px;
            font-weight: 400;
            color: var(--text2);

            a {
                text-decoration: none;
                color: var(--text2);}
        }
        }


    p {
        margin: 0;
        font-family: 'Noto Serif SC', serif;
        font-size: 14px;
        font-weight: 400;
        color: var(--text2);
    }

}

#previous-btn-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 120px 0;
    
    #previous-btn {
        width: 180px;
        height: 55px;
        border-radius: 5px;
        background-color: var(--white);
        color: var(--base);
        border: 1px solid var(--base);
        font-family: 'Abhaya Libre', serif;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s;
        letter-spacing: 0.15em;

        &:hover {
            background-color: var(--white);
            box-shadow: 0px 4px 29.8px 3px rgba(205, 216, 232, 0.6);
        }

    }

    #previous-no-more {
        display: none;
        font-family: 'Noto Serif SC', serif;
        font-weight: 400;
        font-size: 16px;
        color: var(--text2);

    }

}

// 卡片出现动画
@keyframes cardFadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }

    }

@keyframes lineFadeIn {
    from {
        opacity: 0;
        width: 0;
    }
    to {
        opacity: 1;
        width: 99%;
    }
    }

