<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
<footer id="footer">
    <img src="/ico/Nemo.svg" alt="Nemophila" id="nemo-footer">
    <p>Theme <a href="https://github.com/imouup/hexo-theme-nemophila"><strong>Nemophila</strong></a></p>
    <p>Powered by Love from <a href="https://nyaku.moe">izNyaku</a></p>
    <div id="footer-space"></div>
    <p>© 2021 - <%- new Date().getFullYear() %> <%= config.author %>. All rights reserved.</p>
    <% if (theme.icp_license.icp_license_link !== '') { %>
         <a href="<%= theme.icp_license.icp_license_link %>"><%= theme.icp_license.text %></a>
    <% } %>
       
</footer>