// SPDX-License-Identifier: GPL-3.0-or-later
#tweet {
    display: flex;
    gap: 4px;
    }

#tweet-avatar {
    width: 62px;
    height: 62px;
    border-radius: 100%;
    border: 1px solid var(--secondary);
    object-fit: cover;
    -webkit-user-drag: none;
    margin: 0;
    }

#tweet-content {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 16px;
    transform: translateY(-1.5px);
    }

#tweet-info {
    display: flex;
    flex-direction: column;
    margin: 0;

    #author-name {
        font-size: 24px;
        font-weight: 500;
        font-family: 'Noto Serif SC', serif;
        color: var(--base);
        }
    #tweet-time {
        font-size: 14px;
        font-family: 'Noto Sans SC', sans-serif;
        font-weight: 400;
        color: var(--secondary);
        }
    }

#tweet-text {
    font-size: 16px;
    font-family: 'Noto Serif SC', serif;
    font-weight: 400;
    color: var(--text2);
    max-width: 400px;
    overflow-wrap: break-word;
}

#tweet-m {
    display: none;
} 

@media (max-width: 768px)  {
    #tweet {
        display: none;    
    }
    #tweet-m {
        display: flex;
        flex-direction: column;
        margin: 0 auto 0 auto;
        align-items: center; 
        width: 100%;
    }

    #tweet-m #tweet-avatar {
        width: 84px;
        height: 84px;
        border-radius: 50%;
        margin: 48px auto 16px auto;
        transition: all 0.2s;

        // &:hover {
        //     transform: scale(1.05);
        // }

    }

    #tweet-m #author-name {
        display: flex;
        align-items: center;
        flex-direction: row;

        #author-name-main {
            font-size: 18px;
            font-weight: 500;
            font-family: 'Noto Serif SC', serif;
            color: var(--base);
        }
        #author-name-sub {
            display: none;
            font-size: 16px;
            font-weight: 400;
            font-family: 'Noto Sans SC', sans-serif;
            color: var(--secondary);
            transform: translateY(-0.5px);
        }
    }
    #tweet-m #tweet-time {
        font-size: 14px;
        font-family: 'Noto Sans SC', sans-serif;
        font-weight: 400;
        color: var(--secondary);
        }
        
    
    #tweet-m .tweet-contact{
       display: flex;
       flex-direction: row; 
       align-items: center;
       justify-content: center;
       margin: 16px 0 0px 0;
       gap: 16px;
       padding: 0;

       .contact-item {
           display: flex;
           align-items: center;
           justify-content: center;
           text-decoration: none;
           transition: all 0.15s;
           -webkit-user-drag: none

           &:hover {
                transform: translateY(-10%) scale(1.05);
            }
       }

       // 修正 Bilibili 图标视觉偏低的问题
       a[title="Bilibili"] .contact-icon {
           transform: translateY(-1.0px);   
       }

       i {
            font-size: 16px;
            color: var(--base);
            -webkit-user-drag: none
        }

        .contact-icon {
            width: 16px;
            height: 16px;    
        }    
    }

    #tweet-m #tweet-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 48px auto 0 auto;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        padding: 0 40px;


        #tweet-text {
            font-size: 14px;
            font-family: 'Noto Serif SC', serif;
            font-weight: 400;
            color: var(--text2);
            max-width: 400px;
            overflow-wrap: break-word;
        }

        #tweet-title {
            color: var(--base);
            font-size: 24px;
            font-weight: 500
            opacity: 0.75;
            margin: 0;
            font-family: 'Abhaya Libre' , serif;
            height: 1em; 
        }
    }

    
    hr {
        width: 96%;
        color: var(--secondary);
        border: 0;
        height: 0;
        border-top: 1px dashed var(--secondary);
        position: relative;
        overflow: visible;
        margin: 8px auto 0 auto;
        
    }

    
}