.navbar {
    display: flex;
    margin: 0.5vh  1.5vw;
    background-color: var(--white);
    box-shadow: 0px 4px 29.8px 3px rgba(205, 216, 232, 1);
    height: 90px;

    #title {
        font-family: 'Cormorant Garamond', serif;
        font-size: 30px;
        font-weight: 700;
        font-style: italic;
        color: var(--text);
        margin: 27px 0 18px 8vw;
    }


}

